<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite allow-return-values="false" configfailurepolicy="skip" data-provider-thread-count="10" group-by-instances="false" guice-stage="DEVELOPMENT" junit="false" name="Suite" parallel="none" preserve-order="true" skipfailedinvocationcounts="false" thread-count="5">
  <test allow-return-values="false" group-by-instances="false" junit="false" name="Test" preserve-order="true" skipfailedinvocationcounts="false" thread-count="5">
    <classes>
      <class name="tests.TestOne">
    	<methods><include name="Program_Manager_001"/><include name="Program_Manager_002"/><include name="Program_Manager_003"/><include name="Program_Manager_004"/><include name="Program_Manager_005"/><include name="Program_Manager_006"/><include name="Program_Manager_007"/><include name="Program_Manager_008"/><include name="Program_Manager_009"/><include name="Program_Manager_010"/><include name="Segment_Required_Segment_Outcome"/><include name="CBP_Case_Number_Field"/></methods></class>
    </classes>
  </test> 
</suite>