<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite allow-return-values="false" configfailurepolicy="skip" data-provider-thread-count="10" group-by-instances="false" guice-stage="DEVELOPMENT" junit="false" name="Suite" parallel="none" preserve-order="true" skipfailedinvocationcounts="false" thread-count="5">
  <test allow-return-values="false" group-by-instances="false" junit="false" name="Test" preserve-order="true" skipfailedinvocationcounts="false" thread-count="5">
    <classes>
      <class name="tests.TestOne">
    
    <methods><include name="CVD_Align_With_AD"/><include name="Litigation_Dates_Validation"/><include name="Self_Initiated_Petition_Investigation_Dates"/><include name="Align_NSR_To_NR"/><include name="Petition_Status_Validation"/><include name="Admin_Review_Status_Validation"/><include name="Expedited_Review_Status_Validation"/><include name="New_Shipper_Review_Status_Validation"/><include name="Changed_Circumstance_Review_Status_Validation"/><include name="Anticircumvention_Status_Validation"/><include name="Scope_Status_Validation"/></methods></class>
    </classes>
  </test> 
</suite>